<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="libraryHub" connectionString="Data Source=VHNAM1507\MSSQLSERVER17;Initial Catalog=LibraryHub;Integrated Security=True; TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>